{% extends 'mains/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login_system/customs/css/login_style.css' %}">
<div class="loginBlock pt-5">
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4">
            <H2 class="text-center">Log In</H2>
        </legend>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small>Need an Account? <a href="{% url 'signup' %}" class="ml-2 "
                style="text-decoration: none; font-weight:bold; color:brown;">Sign Up
                Now</a></small>
    </div>
</div>
{% endblock %}