{% extends 'mains/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login_system/customs/css/profile_style.css' %}">
<div class="profileBlock pt-5">
    <div class="content-head border-bottom">
        <h2 class="account-heading">{{ user.username }}'s Profile</h2>
    </div>
    <div class="content-section pt-3">
        <div class="profile-group">
            <div class="profile-body">
                <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Phone Number:</b> {{ user.profile.phone_number }}</p>
                <p><b>Current Address:</b> {{ user.profile.current_address }}</p>
                <p><b>Permanent Address:</b> {{ user.profile.permanent_address }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}