{% extends 'login_system/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login_system/customs/css/signup_style.css' %}">
<div>
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4">
            <H2 class="text-center">Join Us Today</H2>
        </legend>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info btnSignUp" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an Account?, <a href="{% url 'login' %}">Click here to Login</a>
            instead.</small>
    </div>
</div>
{% endblock %}