{% extends 'mains/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mains/customs/css/about_style.css' %}">
<div class="aboutBlock pt-5">
    <div class="heading border-bottom">
        <h2>
            About
        </h2>
        <br>
    </div>
    <div class="body">
        <p><br><br>‘Smart Galaicha’ is the software that uses noise reduction and edge detection algorithm to find
            different colors of an image and to estimate the amount of colors used in an image via use of black and
            white image graph. It is a web-based application that helps rugs companies to predict the cost and quantity
            of wools to be used in the customs rugs. This application can also calculate different types of threads,
            wool required, their length and even the final cost estimation. This software will help to bring accuracy
            and efficiency in the rugs.<br><br>
            Carpet industry is one blooming industry in our country. Many people weave carpets as their daily job.
            Manually creating designs for these carpet weavers to weave into a beautiful product is a very difficult
            task. This application is designed to minimize the workload by automating most of the design process. “Smart
            Galaicha” is a software designed to make it easier for the designs to be made and implemented. It can be
            used to create designs from very simple to very complex rugs. This app will also help to calculate the
            percentage of the color used and also decide which material to use as per the conclusion. It will already
            contain all pricing of all types of woolen which will maintain standard methodology for cost estimation.<br>
            <br>
            Security will be maintained highly. As, many people do design manually and insert color manually but now
            this software will help to do in digital format. It will save time and cost. This software is built-up for
            business purpose. “Smart Galaicha” can bring another revolution in rugs industry.
        </p>
    </div>
    <div class="heading border-bottom">
        <h2>
            Members
        </h2>
        <br>
    </div>
    <table>
        <tr>
            <td width="50%"><b>Ashish Maharjan</b></td>
            <td width="50%"><b>Prajwol Man Shakya</b></td>
            <td width="50%"><b>Shirisha Maharjan</b></td>
        </tr>
        <tr>
            <td width="50%">asesmrzn@gmail.com</td>
            <td width="50%">shakya.prajwol@outlook.com</td>
            <td width="50%">mshirisha62@gmail.com</td>
        </tr>
        <tr>
            <td width="50%">9843462307</td>
            <td width="50%">9860004111</td>
            <td width="50%">9860205385</td>
        </tr>
    </table>
</div>
{% endblock %}